USE [BuyAndSellCars]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Car](
	[ID] [bigint] IDENTITY(10012,1) NOT NULL,
	[CategoryID] [bigint] NULL CONSTRAINT [DF_Car_CategoryID]  DEFAULT ((0)),
	[Name] [nvarchar](250) NULL,
	[MetaTitle] [varchar](250) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[Image] [nvarchar](250) NULL,
	[MoreImages] [xml] NULL,
	[Price] [decimal](18, 0) NULL CONSTRAINT [DF_Car_Price]  DEFAULT ((0)),
	[PrePay] [decimal](18, 0) NULL,
	[Model] [varchar](10) NULL,
	[Engine] [float] NULL,
	[Fuel] [nvarchar](10) NULL,
	[Gear] [nvarchar](15) NULL,
	[KmTraveled] [int] NULL,
	[CarColor] [nvarchar](20) NULL,
	[InteriorColor] [nvarchar](20) NULL,
	[OriginID] [int] NULL,
	[YearOfManufacture] [int] NULL,
	[Seats] [int] NULL,
	[DriveSystem] [nvarchar](50) NULL,
	[Doors] [int] NULL,
	[SalientFeatures] [xml] NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_Car_CreatedDate]  DEFAULT (getdate()),
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[MetaKeywords] [nvarchar](250) NULL,
	[MetaDescriptions] [nvarchar](250) NULL,
	[Sold] [bit] NULL CONSTRAINT [DF_Car_Sold]  DEFAULT ((0)),
	[Status] [bit] NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CarCategory]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CarCategory](
	[ID] [bigint] IDENTITY(25,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[MetaTitle] [varchar](250) NULL,
	[ParentID] [bigint] NULL,
	[DisplayOrder] [int] NULL CONSTRAINT [DF_CarCategory_DisplayOrder]  DEFAULT ((0)),
	[SeoTitle] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_CarCategory_CreatedDate]  DEFAULT (getdate()),
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[MetaKeywords] [nvarchar](250) NULL,
	[MetaDescriptions] [nvarchar](250) NULL,
	[Status] [bit] NULL CONSTRAINT [DF_CarCategory_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_CarCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CarPart]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CarPart](
	[ID] [bigint] IDENTITY(10028,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Code] [varchar](10) NULL,
	[MetaTitle] [varchar](250) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](250) NULL,
	[Price] [decimal](18, 0) NULL CONSTRAINT [DF_CarPart_Price]  DEFAULT ((0)),
	[PromotionPrice] [decimal](18, 0) NULL CONSTRAINT [DF_CarPart_PromotionPrice]  DEFAULT ((0)),
	[Quantity] [int] NULL CONSTRAINT [DF_CarPart_Quantity]  DEFAULT ((0)),
	[CategoryID] [bigint] NULL CONSTRAINT [DF_CarPart_CategoryID]  DEFAULT ((0)),
	[Warranty] [int] NULL CONSTRAINT [DF_CarPart_Warranty]  DEFAULT ((0)),
	[OriginID] [int] NULL,
	[ManufacturerID] [int] NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_CarPart_CreatedDate]  DEFAULT (getdate()),
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[MetaKeywords] [nvarchar](250) NULL,
	[MetaDescriptions] [nvarchar](250) NULL,
	[Status] [bit] NULL CONSTRAINT [DF_CarPart_Status]  DEFAULT ((0)),
 CONSTRAINT [PK_CarPart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CarPartCategory]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CarPartCategory](
	[ID] [bigint] IDENTITY(20,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[MetaTitle] [varchar](250) NULL,
	[ParentID] [bigint] NULL CONSTRAINT [DF_CarPartCategory_ParentID]  DEFAULT ((0)),
	[DisplayOrder] [int] NULL CONSTRAINT [DF_CarPartCategory_DisplayOrder]  DEFAULT ((0)),
	[SeoTitle] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_CarPartCategory_CreatedDate]  DEFAULT (getdate()),
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[MetaKeywords] [nvarchar](250) NULL,
	[MetaDescriptions] [nvarchar](250) NULL,
	[Status] [bit] NULL CONSTRAINT [DF_CarPartCategory_Status]  DEFAULT ((1))
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Content]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Content](
	[ID] [bigint] IDENTITY(50,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[MetaTitle] [varchar](250) NULL,
	[Image] [nvarchar](250) NULL CONSTRAINT [DF_Content_DisplayOrder]  DEFAULT ((0)),
	[CategoryID] [bigint] NULL,
	[Detail] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_Content_CreatedDate]  DEFAULT (getdate()),
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[MetaKeywords] [nvarchar](250) NULL,
	[MetaDescriptions] [nvarchar](250) NULL,
	[Status] [bit] NULL CONSTRAINT [DF_Content_Status]  DEFAULT ((1)),
	[ViewCount] [int] NULL CONSTRAINT [DF_Content_ViewCount]  DEFAULT ((0)),
	[Tags] [nvarchar](500) NULL,
 CONSTRAINT [PK_Content] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Decentralization]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decentralization](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserManager] [bit] NULL CONSTRAINT [DF_Decentralization_AddUser]  DEFAULT ((0)),
	[CarPartManager] [bit] NULL CONSTRAINT [DF_Decentralization_EditUser]  DEFAULT ((0)),
	[CarManager] [bit] NULL CONSTRAINT [DF_Decentralization_DeleteUser]  DEFAULT ((0)),
	[OrderManager] [bit] NULL CONSTRAINT [DF_Decentralization_MainMenu]  DEFAULT ((0)),
	[NewsManager] [bit] NULL CONSTRAINT [DF_Decentralization_NewsCategory]  DEFAULT ((0)),
	[SystemManager] [bit] NULL CONSTRAINT [DF_Decentralization_CarPartCategory]  DEFAULT ((0)),
 CONSTRAINT [PK_Decentralization] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Content] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_Feedback_CreatedDate]  DEFAULT (getdate()),
	[Status] [bit] NULL CONSTRAINT [DF_Feedback_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Footer]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Footer](
	[ID] [varchar](50) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Footer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ID] [bigint] IDENTITY(19,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_Manufacturer_CreatedDate]  DEFAULT (getdate()),
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[Status] [bit] NULL CONSTRAINT [DF_Manufacturer_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MemberGroup]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](250) NULL,
	[DecenID] [int] NULL,
 CONSTRAINT [PK_MemberGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [bigint] IDENTITY(8,1) NOT NULL,
	[Text] [nvarchar](50) NULL,
	[Link] [nvarchar](250) NULL,
	[DisplayOrder] [int] NULL CONSTRAINT [DF_Menu_DisplayOrder]  DEFAULT ((0)),
	[Target] [nvarchar](50) NULL,
	[Status] [bit] NULL CONSTRAINT [DF_Menu_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NewsCategory]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NewsCategory](
	[ID] [bigint] IDENTITY(13,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[MetaTitle] [varchar](250) NULL,
	[ParentID] [bigint] NULL,
	[DisplayOrder] [int] NULL CONSTRAINT [DF_Category_DisplayOrder]  DEFAULT ((0)),
	[SeoTitle] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_Category_CreatedDate]  DEFAULT (getdate()),
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[MetaKeywords] [nvarchar](250) NULL,
	[MetaDescriptions] [nvarchar](250) NULL,
	[Status] [bit] NULL CONSTRAINT [DF_Category_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [bigint] IDENTITY(11,1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CustomerID] [bigint] NULL,
	[ShipName] [nvarchar](50) NULL,
	[ShipMobile] [varchar](50) NULL,
	[ShipAddress] [nvarchar](100) NULL,
	[ShipEmail] [nvarchar](50) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ProductID] [bigint] NOT NULL,
	[OrderID] [bigint] NOT NULL,
	[Quantity] [int] NULL CONSTRAINT [DF_OrderDetail_Quantity]  DEFAULT ((1)),
	[Price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Origin]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Origin](
	[ID] [bigint] IDENTITY(10018,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_Origin_CreatedDate]  DEFAULT (getdate()),
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[Status] [bit] NULL CONSTRAINT [DF_Origin_Status]  DEFAULT ((1)),
	[Type] [int] NULL,
 CONSTRAINT [PK_Origin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SalientFeatures]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalientFeatures](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_SalientFeatures] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemConfig]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Value] [nvarchar](250) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_SystemConfig] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 4/12/2020 9:39:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[ID] [bigint] IDENTITY(10050,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](32) NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_User_CreatedDate]  DEFAULT (getdate()),
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[Status] [bit] NULL,
	[Type] [int] NULL,
	[GroupID] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

SET IDENTITY_INSERT [dbo].[Car] OFF
SET IDENTITY_INSERT [dbo].[CarCategory] ON 

SET IDENTITY_INSERT [dbo].[CarCategory] OFF
SET IDENTITY_INSERT [dbo].[CarPart] ON 

SET IDENTITY_INSERT [dbo].[CarPart] OFF
SET IDENTITY_INSERT [dbo].[CarPartCategory] ON 

INSERT [dbo].[CarPartCategory] ([ID], [Name], [MetaTitle], [ParentID], [DisplayOrder], [SeoTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [MetaKeywords], [MetaDescriptions], [Status]) VALUES (1, N'Phụ Tùng Ô Tô', N'phu-tung-o-to', 0, 4, N'Bán phụ tùng ô tô ', CAST(N'2019-04-15 03:48:34.800' AS DateTime), N'admin', CAST(N'2019-05-03 17:35:45.890' AS DateTime), N'admin', N'Phụ Tùng Khác', N'Bán phụ tùng ô tô ', 1)
INSERT [dbo].[CarPartCategory] ([ID], [Name], [MetaTitle], [ParentID], [DisplayOrder], [SeoTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [MetaKeywords], [MetaDescriptions], [Status]) VALUES (2, N'Cầu Nâng', N'cau-nang', 0, 3, N'Bán Cầu Nâng Xe ÔTô tốt, giá rẻ, uy tín', CAST(N'2019-04-15 04:01:26.087' AS DateTime), N'admin', CAST(N'2019-05-03 17:24:59.870' AS DateTime), N'admin', N'Cầu Nâng Xe ÔTô', N'Bán Cầu Nâng Xe ÔTô tốt, giá rẻ, uy tín', 1)
INSERT [dbo].[CarPartCategory] ([ID], [Name], [MetaTitle], [ParentID], [DisplayOrder], [SeoTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [MetaKeywords], [MetaDescriptions], [Status]) VALUES (6, N'Dầu Nhớt', N'dau-nhot', 0, 2, N'Bán dầu nhớt xe ôtô', CAST(N'2019-04-15 16:28:41.137' AS DateTime), N'admin', CAST(N'2019-05-03 17:24:03.467' AS DateTime), N'admin', N'Dầu Nhớt Xe ÔTô', N'Bán dầu nhớt xe ôtô', 1)
SET IDENTITY_INSERT [dbo].[CarPartCategory] OFF
SET IDENTITY_INSERT [dbo].[Content] ON 

SET IDENTITY_INSERT [dbo].[Content] OFF
SET IDENTITY_INSERT [dbo].[Decentralization] ON 

INSERT [dbo].[Decentralization] ([ID], [UserManager], [CarPartManager], [CarManager], [OrderManager], [NewsManager], [SystemManager]) VALUES (1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[Decentralization] ([ID], [UserManager], [CarPartManager], [CarManager], [OrderManager], [NewsManager], [SystemManager]) VALUES (3, 0, 1, 1, 0, 1, 1)
INSERT [dbo].[Decentralization] ([ID], [UserManager], [CarPartManager], [CarManager], [OrderManager], [NewsManager], [SystemManager]) VALUES (4, 0, 1, 0, 0, 1, 0)
SET IDENTITY_INSERT [dbo].[Decentralization] OFF
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([ID], [Name], [Phone], [Email], [Content], [CreatedDate], [Status]) VALUES (1, N'Phùng Thành Nhân', N'01226112017', N'myfriend1102vn@yahoo.com', N'abcedf', CAST(N'2019-05-11 22:20:19.710' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([ID], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status]) VALUES (1, N'Honda', CAST(N'2019-05-01 11:04:26.337' AS DateTime), N'admin', CAST(N'2019-05-03 00:00:00.000' AS DateTime), N'admin', 1)
INSERT [dbo].[Manufacturer] ([ID], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status]) VALUES (2, N'Toyota', CAST(N'2019-05-01 11:04:33.110' AS DateTime), N'admin', CAST(N'2019-05-03 00:00:00.000' AS DateTime), N'admin', 1)
INSERT [dbo].[Manufacturer] ([ID], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status]) VALUES (12, N'Jetta', CAST(N'2019-05-03 17:43:42.070' AS DateTime), N'admin', CAST(N'2019-05-03 23:31:50.087' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
SET IDENTITY_INSERT [dbo].[MemberGroup] ON 

INSERT [dbo].[MemberGroup] ([ID], [Name], [Description], [DecenID]) VALUES (1, N'Super  Administrator', N'Developer - Quản lý tất cả ', 1)
INSERT [dbo].[MemberGroup] ([ID], [Name], [Description], [DecenID]) VALUES (3, N'Administrator', N'quản lý tất cả', 3)
INSERT [dbo].[MemberGroup] ([ID], [Name], [Description], [DecenID]) VALUES (4, N'Member', N'Khong quan ly bat ky thu gi', 4)
SET IDENTITY_INSERT [dbo].[MemberGroup] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([ID], [Text], [Link], [DisplayOrder], [Target], [Status]) VALUES (2, N'Trang Chủ', N'http://localhost:20455/', 1, N'_self', 0)
INSERT [dbo].[Menu] ([ID], [Text], [Link], [DisplayOrder], [Target], [Status]) VALUES (3, N'Mua Xe', N'http://localhost:20455/tim-mua-xe/', 2, N'_self', 1)
INSERT [dbo].[Menu] ([ID], [Text], [Link], [DisplayOrder], [Target], [Status]) VALUES (4, N'Bán Xe', N'http://localhost:20455/lien-he', 4, N'_self', 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[NewsCategory] ON 

INSERT [dbo].[NewsCategory] ([ID], [Name], [MetaTitle], [ParentID], [DisplayOrder], [SeoTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [MetaKeywords], [MetaDescriptions], [Status]) VALUES (1, N'Tin Thế Giới', N'tin-the-gioi', 0, 3, N'Blogs - World', CAST(N'2019-03-17 19:12:04.463' AS DateTime), N'admin', CAST(N'2019-05-12 11:22:17.430' AS DateTime), N'admin', N'Tin Thế Giới', N'Tin tức', 1)
INSERT [dbo].[NewsCategory] ([ID], [Name], [MetaTitle], [ParentID], [DisplayOrder], [SeoTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [MetaKeywords], [MetaDescriptions], [Status]) VALUES (12, N'Tin Tức', N'tin-tuc', 0, 1, N'Blogs - Tin Tức', CAST(N'2019-05-12 11:11:01.310' AS DateTime), N'admin', CAST(N'2019-05-12 11:18:42.927' AS DateTime), N'admin', N'Tin Tức', N'Tin Tức', 1)
SET IDENTITY_INSERT [dbo].[NewsCategory] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [CreatedDate], [CustomerID], [ShipName], [ShipMobile], [ShipAddress], [ShipEmail], [Status]) VALUES (1, CAST(N'2019-05-10 01:46:20.457' AS DateTime), 0, N'Phùng Thành Nhân', N'1226112017', N'Bình Dương', N'myfriend1102vn@yahoo.com', 3)
INSERT [dbo].[Order] ([ID], [CreatedDate], [CustomerID], [ShipName], [ShipMobile], [ShipAddress], [ShipEmail], [Status]) VALUES (2, CAST(N'2019-05-11 11:30:47.140' AS DateTime), 0, N'Phùng Thành Nhân', N'1226112017', N'Bình Dương', N'myfriend1102vn@yahoo.com', 3)
INSERT [dbo].[Order] ([ID], [CreatedDate], [CustomerID], [ShipName], [ShipMobile], [ShipAddress], [ShipEmail], [Status]) VALUES (3, CAST(N'2019-05-11 12:21:48.577' AS DateTime), 0, N'Phùng Thành Nhân', N'1226112017', N'Bình Dương', N'myfriend1102vn@yahoo.com', 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
INSERT [dbo].[OrderDetail] ([ProductID], [OrderID], [Quantity], [Price]) VALUES (7, 1, 1, CAST(1400000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([ProductID], [OrderID], [Quantity], [Price]) VALUES (7, 7, 3, CAST(1400000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([ProductID], [OrderID], [Quantity], [Price]) VALUES (8, 6, 2, CAST(5050000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Origin] ON 

INSERT [dbo].[Origin] ([ID], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status], [Type]) VALUES (1, N'Chính Hãng', CAST(N'2019-05-01 10:22:41.757' AS DateTime), N'admin', CAST(N'2019-05-01 10:22:41.757' AS DateTime), N'admin', 1, 0)
INSERT [dbo].[Origin] ([ID], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status], [Type]) VALUES (2, N'Nhập Khẩu', CAST(N'2019-05-01 10:22:55.947' AS DateTime), N'admin', CAST(N'2019-05-01 10:22:55.947' AS DateTime), N'admin', 1, 0)
INSERT [dbo].[Origin] ([ID], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status], [Type]) VALUES (3, N'Lắp Ráp Trong Nước', CAST(N'2019-05-01 10:23:23.173' AS DateTime), N'admin', CAST(N'2019-05-01 10:23:23.173' AS DateTime), N'admin', 1, 1)
SET IDENTITY_INSERT [dbo].[Origin] OFF
SET IDENTITY_INSERT [dbo].[SalientFeatures] ON 

INSERT [dbo].[SalientFeatures] ([ID], [Name], [Status]) VALUES (1, N'Kính hiển thị tốc độ HUD', 1)
INSERT [dbo].[SalientFeatures] ([ID], [Name], [Status]) VALUES (3, N'i-stop hệ thống ngắt/ mở động cơ', 1)
INSERT [dbo].[SalientFeatures] ([ID], [Name], [Status]) VALUES (4, N'Camera hành trình', 1)
SET IDENTITY_INSERT [dbo].[SalientFeatures] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [UserName], [Password], [Name], [Address], [Phone], [Email], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status], [Type], [GroupID]) VALUES (3, N'superadmin', N'e10adc3949ba59abbe56e057f20f883e', N'P.T.Nhan', N'Binh Duong', N'0123456789', N'thanhnhanphung97@gmail.com', CAST(N'2019-03-14 02:39:17.933' AS DateTime), N'admin', CAST(N'2019-03-14 00:00:00.000' AS DateTime), N'admin', 1, 1, 1)
INSERT [dbo].[User] ([ID], [UserName], [Password], [Name], [Address], [Phone], [Email], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status], [Type], [GroupID]) VALUES (4, N'admin', N'202cb962ac59075b964b07152d234b70', N'Hoang', N'HN', N'0123456789', N'cc@gmail.com', CAST(N'2019-03-14 02:39:17.933' AS DateTime), N'admin', CAST(N'2019-03-14 00:00:00.000' AS DateTime), N'admin', 1, 1, 3)
INSERT [dbo].[User] ([ID], [UserName], [Password], [Name], [Address], [Phone], [Email], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status], [Type], [GroupID]) VALUES (5, N'member', N'202cb962ac59075b964b07152d234b70', N'Nghia', N'Hai Phong', N'0123456789', N'dd@gmail.com', CAST(N'2019-03-14 02:39:17.933' AS DateTime), N'admin', CAST(N'2019-03-14 00:00:00.000' AS DateTime), N'admin', 1, 1, 4)
SET IDENTITY_INSERT [dbo].[User] OFF
